#logo{
    p{
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            max-inline-size: 100%;
            block-size: auto;
            justify-self: center;
        }
        span{
            margin: 0px 0px -7px 0px;
            justify-self: end;
        }
    }
}

.logo-container{
    display: grid;
    img{
        width: 60%;
        justify-self: center;
    }
}

.notificationBagde{
    background-color: rgb(202, 18, 119) !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.cart{
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    width: auto;
    margin-top: 4vh;
    padding-left: 10px;
    justify-content: flex-start;
    transition: transform 0.8s;
    img{
        max-width: 60px;
        justify-self: center;
    }
    .badge{
        position: absolute;
        top: -5px;
        left: 58px;
        background: red;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
    }
    span{
        position: absolute;
        right: 40px;
        bottom: 0;
    }
}

.cart:hover{
    transform: scale(1.03);
}